<div class=" w-full mb-40 bg-myCardBg py-12 scroll-effect">
    <div class="w-[90%] mx-auto flex justify-between">
        <div class="w-2/5 text-center text-gray-400 flex flex-col justify-center items-center">
            <h1 class="text-7xl pb-1"><%= BtnText %></h1>
            <p class="text-base pb-12">Check out our <%= BtnText %> here.</p>
            <button class="bg-myGreen text-xl rounded-lg  text-black py-2 px-3">View <%= BtnText %></button>
        </div>
        <img src="<%= ImageUrl %>"  alt="<%= BtnText %>" class="w-2/5 h-96">
    </div>
</div>

